.contentElement {
    margin: 50px 20px;
}

.contentElementBackground {
    position: absolute;
    height: 100%;
    width: 75%;
    margin-left:25%;
    /* transform: translate(25%, 0); */
    background-color: #eeeeee;
    transform: rotate(-0.5deg);
}

.contentElementContainer {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    align-items: flex-start;
}

.contentImageContainer {
    /* max-width: 45%; */
    flex: 0 0 45%;
}

.contentImageContainer img {
    object-fit: contain;
    width: 100%;
    padding: 40px 0 20px 0;
}

.contentCopyContainer {
    /* max-width: 55%; */
    flex: 0 0 53%;
    padding: 40px 40px 40px 20px;
    font-size: 80%;
}

.contentCopyContainer > h2 {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.contentCopyContainer div > ul {
    margin-left: 50px;
}

.contentCopyContainer div > p, 
.contentCopyContainer div > ul > li,
.contentCopyContainer div > h4 {
    margin-bottom: 0.5rem;
}

.contentCopyContainer div > .btn {
    width: 50%;
    margin-top: 1rem;
}

.contentCopyContainer div > div > a {
    color: white
}

@media only screen and (min-width: 1200px) {
    .contentElement  {
        width: 1180px;
        margin: 50px auto;
    }
}