.featuresElement {
    padding: 0;
    margin: 5px 5px 40px 5px;
}

.featuresPanel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    margin: 0 10px 0px 10px;
    border: solid 1px #eeeeee;
    background-color: #eeeeee;
    color: #000000;

}

.featuresPanel:hover,
.featuresPanel:active {
    cursor: pointer;
}

.featuresIconContainer {
    display: flex;
    padding: 15px;
}

.featuresPanelIcon {
    font-size: 20px;
    background-color: #eeeeee;
}

.featuresContainer {
    border-left: solid 1px #eeeeee;
    border-right: solid 1px #eeeeee;
    padding: 20px 20px;
    margin: 0 10px;
    display: flex;
    flex-flow: row;
    gap: 50px;
    align-items: center;
}

.featuresContainer:last-of-type {
    border-bottom: solid 1px #eeeeee;
}

.featuresHidden {
    display: none;
}

.featureIcon {
    font-size: 80px;
    padding: 10px;
}

.featureCopyContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 20px;
    font-size: 80%;
}

.featureCopy {
    width: 50%
}

.compareIcon {
    color: #474E52;
    font-size: 40px;
}

@media only screen and (min-width: 1200px) {
    .featuresElement {
        width: 1180px;
        margin: 5px auto 40px auto;
    }

}