.filter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    margin: 0 10px 0px 10px;
    border: solid 1px var(--altbackground);
    background-color: var(--altbackground);
    color: white;

}

.filter:hover,
.filter:active {
    cursor: pointer;
}

.filterIconContainer {
    display: flex;
    padding: 15px;
}

.filterIcon {
    font-size: 20px;
    background-color: var(--altbackground);
}

.filterContainer {
    border: solid 1px var(--altbackground);
    padding: 10px 20px;
    margin: 0 10px;
    display: flex;
    flex-flow: column;
}

.filterOptionsContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 20px;
}

.filterOption {
    height: 100%;
}

.filterOption div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.filterInfoIcon {
    color: var(--altbackground);
    font-size: 20px;
}

.filterInfoIcon:hover,
.filterInfoIcon:active {
    cursor: pointer;
}

.filterHidden {
    display: none;
}

.filterButtonContainer {
    margin: 20px 0 0 auto;
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}