footer {
    background-color: #333333;
    margin-top: 100px;
    height: 150px;
    padding: 20px 0;
    color: #CCCCCC;
}

footer img {
    position: absolute;
    top: -32px;
    width: 300px;
    right: 0;
}

.footerContentContainer {
    margin: 0 20px;
}

#background {
    width: 40px;
    height: 40px;
    background-color: #CCCCCC;
    border-radius: 2px 30px 0px 30px;
    margin: 10px 0;
}

#t {
    width: 19px;
    height: 22px;
    border-radius: 0 2px 0 0;
    border-top: solid 4px #333333;
    border-right: solid 4px #333333;
    position: absolute;
    top: 10px;
}

#l {
    width: 19px;
    height: 22px;
    border-radius: 0 0 0 4px;
    border-bottom: solid 4px #333333;
    border-left: solid 4px #333333;
    position: absolute;
    top: 10px;
    left: 21px;
}

@media only screen and (min-width: 1200px) {
    .footerContentContainer {
        width: 1180px;
        margin: auto;
    }
}