
.sortContainer {
    width: 100%;
}

.sort {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    border: solid 1px var(--altbackground);
    background-color: var(--bodybg);
    color: var(--primaryfont);
    height: 52px;
}

.sort:hover,
.sort:active {
    cursor: pointer;
}

.sortIconContainer {
    display: flex;
    padding: 15px;
}

.sortIcon {
    font-size: 20px;
}

.sortOptionsContainer {
    width: 100%;
    position: absolute;
    top: 52px;
    border: solid 1px var(--altbackground);
    border-top: none;
    background-color: var(--bodybg);
    z-index: 1;
}

.sortOption {
    padding: 10px;
}

.sortOption:hover,
.sortOption:active {
    cursor: pointer;
    background-color: var(--altbackground);
    color: var(--bodybg);
}

.sortHidden {
    display: none;
}